
*{
    margin:0px;
}
.bg-container{
    background-color: azure;
    height:100vh;
    background-size: cover;

}
.heading{
    color:black;
    font-family: "Roboto";
    font-size:50px;
    font-weight:500;
}
.text{
    color:black;
    font-family: "Roboto";
    font-size:100px;
    font-weight:bold;
}
.button{
    border-radius: 5px;
    border: 1px solid goldenrod;
    height:40px;
    width:100px;
    margin:10px;
    font-size:20px;

}